.containerNewAccount {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  border-radius: 2px !important;
}

.containerNewAccount .buttonPurple {
  background-color: #441a7b !important;
  border: 1px solid #441a7b !important;
  color: white !important;
  cursor: pointer;
}

.containerNewAccount .buttonPurple:hover {
  border: 1px solid #441a7b !important;
  /* outline: none !important; */
}

.containerNewAccount .labelRol {
  /* border: 1px solid black !important; */
  color: black !important;
}

.containerNewAccount .labelRol label {
  margin-top: 5px !important;
}

.containerNewAccount .inputNewRol {
  color: black !important;
  /* border: 1px solid pink !important; */
  padding: 0px !important;
  padding-left: 8px !important;
}

.containerNewAccount .buttonSave {
  background-color: #441a7b !important;
  border: 1px solid #441a7b !important;
  cursor: pointer !important;
  margin-top: 3rem !important;
}

/* .form {
  background-color: #441a7b;
  opacity: 0.4;
} */

.form button {
  width: 7rem !important;
  /* margin-right: 8px;
    margin-left: 8px; */
}

.form .divButtons {
  width: 60% !important;
  display: flex !important;
  margin: 0px auto !important;
  flex-flow: row wrap !important;
  justify-content: space-evenly;
}

.form label {
  margin-top: 2px;
}

.form input {
  color: black !important;
  font-weight: normal !important;
  height: 2rem !important;
  /* max-height: 2rem !important; */
}

.form span {
  padding: 0px !important;
  padding: 0px 3px !important;  
}


/* .form .inputPassword,
.form input[type="password"] {
  height: 2rem !important;
} */

.containerModal {
  display: flex;
  flex-flow: column wrap;
}

.containerModal .sectionParameters {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: space-between !important;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}
