.containerAccounts {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px !important;
  height: 450px;
}

.containerAccounts tr td {
    cursor: pointer !important;
}

.containerAccounts .buttonNewRol {
    background-color: #441a7b !important;
    border: 1px solid #441a7b !important;
    color: white !important;
}

.containerAccounts .buttonNewRol:hover {
    border: 1px solid #441a7b !important;
    /* outline: none !important; */
}